{% extends "base.html" %}

{% block title %} | Manage{% endblock %}

{% block content %}
<div class="row">
  <div class="col"> 
    <h1>All Reservations</h1>
</div></div>

    {% if bookings %}
    <div class="row">
      <div class="col"> 
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
        <th scope="col">Room</th>
        <th scope="col">Owner</th>
        <th scope="col">Date</th>
        <th scope="col">Period</th>
        <th scope="col">Reserved For</th>
        <th scope="col">Manage</th>
        </tr>
      </thead>
      <tbody>
      {% for booking in bookings %}
        <tr>
          <td>{{ booking.room }}</td>
          <td><a href="{% url 'view-profile' booking.booking_owner.id %}" title="View User Profile">{{ booking.booking_owner }}</a></td>
          <td>{{ booking.booking_date }}</td>
          <td>{{ booking.booking_period }}</td>
          <td><a href="{{ booking.get_absolute_url }}">{{ booking.booking_client }}</a></td>
          <td class="booking-controls">
            <a class="btn btn-sm btn-primary" href="{{ booking.get_absolute_url }}/update/">Edit</a>
            <a class="btn btn-sm btn-danger" href="{{ booking.get_absolute_url }}/delete/">Delete</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
    </div></div>
    {% else %}
      <p>You have no reservations in the system.</p>
    {% endif %}
<div class="row">
  <div class="col"> 
  
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <!--span class="step-links"-->
        {% if bookings.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; first</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ bookings.previous_page_number }}">previous</a>
          </li>
        {% endif %}
  
        <!--<span class="current">-->
          <li class="page-item active">
            <span class="page-link">
              Page {{ bookings.number }} of {{ bookings.paginator.num_pages }}
            </span>
          </li>
        <!--</span>-->
  
        {% if bookings.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ bookings.next_page_number }}">next</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ bookings.paginator.num_pages }}">last &raquo;</a>
          </li>
        {% endif %}
      <!--</span>-->
    </ul>
  </nav>
</div></div>
{% endblock %}