{% extends "base.html" %}

{% block title %} | New {% endblock %}

{% block content %}
{% load widget_tweaks %}
<form action="" method="post">
  {% csrf_token %}
    
  {{ form.non_field_errors }}
  
  <div class="fieldWrapper form-group">
    {{ form.room.errors }}
    <label for="{{ form.room.id_for_label }}">Room:</label>
    {{ form.room|add_class:'form-control' }}
  </div>
  
  <div class="fieldWrapper form-group">
    {{ form.booking_owner.errors }}
    <label for="{{ form.booking_owner.id_for_label }}">Reserved By:</label>
    {{ form.booking_owner|add_class:'form-control' }}
  </div>
  
  <div class="fieldWrapper form-group">
    {{ form.booking_date.errors }}
    <label for="{{ form.booking_date.id_for_label }}">Reservation Date:</label>
    {{ form.booking_date|add_class:'form-control' }}
  </div>
  <div class="fieldWrapper form-group">
    {{ form.booking_client.errors }}
    <label for="{{ form.booking_date.id_for_label }}">Reserved For:</label>
    {{ form.booking_client|add_class:'form-control' }}
  </div>
  
  <div class="fieldWrapper form-group">
    {{ form.booking_period.errors }}
    <label for="{{ form.booking_period.id_for_label }}">Period:</label>
    {{ form.booking_period|add_class:'form-control' }}
  </div>
    
  <div class="form-btn">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

    
</form>
{% endblock %}