{% extends "base.html" %}
{% block title %} | Rooms{% endblock %}

{% block content %}
    <h2>Room List</h2>

    {% if room_list %}
    <ul>

      {% for room in room_list %}
      <li>
        <a href="{{ room.get_absolute_url }}">{{ room.room_text }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no rooms in the system.</p>
    {% endif %}
    
    <a class="btn btn-primary" href="{% url 'room_create' %}">Create Room</a>
    
      {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination">
      <!--span class="step-links"-->
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; first</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
          </li>
        {% endif %}
  
        <!--<span class="current">-->
          <li class="page-item active">
            <span class="page-link">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
          </li>
        <!--</span>-->

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          </li>
        {% endif %}
      <!--</span>-->
    </ul>
  </nav>
  {% endif %}
    
{% endblock %}