{% extends "base.html" %}
{% block title %} | User Info{% endblock %}

{% block content %}
  <h2>{{ user.first_name }} {{ user.last_name }}</h2>
  <small class="text-muted"><strong>Username:</strong> {{ user }}</small>

  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>Location:</strong> {{ user.profile.location }}</p>
  <p><strong>Phone:</strong> {{ user.profile.phone }}</p>
  <p><strong>Classroom:</strong> {{ user.profile.room_no }}</p>
  <p><strong>Bio:</strong> {{ user.profile.bio }}</p>

  
{% endblock %}